build/
.gradle/
.class

# Ignore build artifacts
bin/
*.class
*.zip

dist/*.jar

*.png
*.pdf
*.docx
*.xlsx
*.jar
*.jpeg
*.jpg

Verdi2023/
Verdi2024/
Vieira2025/
VillalonReina2024/
Wang2023/
Wen2025/
Wolfers2018/
Wolfers2020/
Wolfers2021/
Worker2023/
Wu2023/
Wu2024/
Xiao2024/
Yang2025/
Young2024/
Yu2024/
Zabihi2019/
Zabihi2020/
Zhang2022/
Zhang2023/
Zheng2024/